<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>


<div class="articles-container">
  <div class="articles-main">
    <app-big-card photoCover="https://static.wixstatic.com/media/40ba0e_380553d78eb14194a857cd712b1574d4~mv2.jpg/v1/fill/w_864,h_576,al_c,lg_1,q_85/40ba0e_380553d78eb14194a857cd712b1574d4~mv2.jpg"
    cardTitle="As aventuras do DuckTales"
    cardDescription="Tio Patinhas e sua família, geralmente os levam a lugares exóticos, incluindo selvas, desertos, ilhas remotas e até mesmo o espaço sideral"
    >
    </app-big-card>

  </div>
  <div class="articles-others">
    <app-small-card photoCover="https://i.ytimg.com/vi/07atuiF4U-Q/hqdefault.jpg"
    cardTitle="Nova serie do tio patinha"
    >
    </app-small-card>
    <app-small-card photoCover="https://i.ytimg.com/vi/2R3nxI7xiZw/hqdefault.jpg"
    cardTitle="Os caçadores de Piratas"
    >
    </app-small-card>
    <app-small-card photoCover="https://i.ytimg.com/vi/-095OG4id1c/sddefault.jpg"
    cardTitle="Tio patinhas rumo ao atlântidas"
    >
    </app-small-card>

  </div>

</div>
